{% extends 'layouts/base.html' %}
{% block content %}
<main class="flex-grow-1">
<div class="container-lg mt-3">
      <h1>Сайт: {{ record.name }}</h1>


  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ record.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ record.name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ record.created_at.strftime('%Y-%m-%d') }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="{{ url_for('check_url', record_id=record.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>

  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
      <tbody>
    <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
    </tr>
    {% for url_check in url_checks -%}
    <tr>
        <td>{{ url_check.id }}</td>
        <td>{{ url_check.status_code }}</td>
        <td>{{ url_check.h1 }}</td>
        <td>{{ url_check.title }}</td>
        <td>{{ url_check.description }}</td>
        <td>{{ url_check.created_at.strftime('%Y-%m-%d') }}</td>
    </tr>
    {%- endfor %}
      </tbody>
    </table>
  </div>

    </div>
</main>
{% endblock %}